<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <title>Proton - Admin Template</title>

        <!--[if lt IE 9]>
<link href="http://fonts.useso.com/css?family=Open+Sans:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.useso.com/css?family=Open+Sans:700" rel="stylesheet" type="text/css" />
<link href="http://fonts.useso.com/css?family=Droid+Sans:400" rel="stylesheet" type="text/css" />
<link href="http://fonts.useso.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" />
<![endif]-->

		<!-- Fav and touch icons -->
		<link rel="shortcut icon" href="../static/assets/ico/favicon.ico" type="image/x-icon" />

	    <!-- Css files -->
	    <link href="../static/assets/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/assets/css/jquery.mmenu.css" rel="stylesheet">
		<link href="../static/assets/css/font-awesome.min.css" rel="stylesheet">
		<link href="../static/assets/css/climacons-font.css" rel="stylesheet">
		<link href="../static/assets/plugins/xcharts/css/xcharts.min.css" rel=" stylesheet">
		<link href="../static/assets/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet">
		<link href="../static/assets/plugins/morris/css/morris.css" rel="stylesheet">
		<link href="../static/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet">
		<link href="../static/assets/plugins/jvectormap/css/jquery-jvectormap-1.2.2.css" rel="stylesheet">
	    <link href="../static/assets/css/style.min.css" rel="stylesheet">
		<link href="../static/assets/css/add-ons.min.css" rel="stylesheet">

	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	    <![endif]-->
	</head>
</head>

<body>
	<!-- start: Header -->
	<div class="navbar" role="navigation">
		<ul class="nav navbar-nav navbar-right">
				<li class="dropdown visible-md visible-lg">
	        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">这里是用户名 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
	        		<ul class="dropdown-menu">
						<li class="dropdown-menu-header">
							<strong>用户</strong>
						</li>
						<li><a href="page-login.html"><i class="fa fa-wrench"></i> 个人中心</a></li>
						<li class="divider"></li>
						<li><a href="aaa.html"><i class="fa fa-sign-out"></i> 退出</a></li>
	        		</ul>
	      		</li>
			</ul>
	</div>
	<!-- end: Header -->

	<div class="container-fluid content">

		<div class="row">

			<!-- start: Main Menu -->
			<div class="sidebar ">

				<div class="sidebar-collapse">
					<div class="sidebar-header t-center">
                        <span><img class="text-logo" src="../static/assets/img/logo1.png"><i class="fa fa-space-shuttle fa-3x blue"></i></span>
                    </div>
					<div class="sidebar-menu">
						<ul class="nav nav-sidebar">
							<li>
								<a href="#"><i class="fa fa-list-alt"></i><span class="text"> 用户管理</span> <span class="fa fa-angle-down pull-right"></span></a>
								<ul class="nav sub">
									<li><a href="index.html"><i class="fa fa-laptop"></i><span class="text"> 老师管理</span></a></li>
									<li><a href="student.html"><i class="fa fa-laptop"></i><span class="text"> 学生管理</span></a></li>
									<li><a href="parents.html"><i class="fa fa-laptop"></i><span class="text"> 家长管理</span></a></li>
								</ul>
							</li>
							<li>
								<a href="#"><i class="fa fa-list-alt"></i><span class="text"> 统计</span> <span class="fa fa-angle-down pull-right"></span></a>
								<ul class="nav sub">
									<li><a href="work.html"><i class="fa fa-indent"></i><span class="text"> 考勤统计</span></a></li>
									<li><a href="integral.html"><i class="fa fa-tags"></i><span class="text"> 积分统计</span></a></li>
									<li><a href="result.html"><i class="fa fa-plus-square-o"></i><span class="text"> 成绩统计</span></a></li>
									<li><a href="course.html"><i class="fa fa-pencil"></i><span class="text"> 课程统计</span></a></li>
								</ul>
							</li>
							<li><a href="result_query.html"><i class="fa fa-table"></i><span class="text"> 成绩查询</span></a></li>
							<li><a href="multiple.html"><i class="fa fa-life-bouy"></i><span class="text"> 综合技能报表</span></a></li>
							<li>
								<a href="#"><i class="fa fa-bolt"></i><span class="text"> 信息模块</span> <span class="fa fa-angle-down pull-right"></span></a>
								<ul class="nav sub">
									<li><a href="news_release.html"><i class="fa fa-meh-o"></i><span class="text"> 信息发布</span></a></li>
									<li><a href="news_communication.html"><i class="fa fa-meh-o"></i><span class="text"> 信息交流</span></a></li>
								</ul>
							</li>
							<li><a href="integral_shop.html"><i class="fa fa-picture-o"></i><span class="text"> 积分商城</span></a></li>
							<li><a href="distribution.html"><i class="fa fa-calendar"></i><span class="text"> 智能分配</span></a></li>
						</ul>
					</div>
				</div>
				<div class="sidebar-footer">

					<div class="sidebar-brand">
						Proton
					</div>

					<ul class="sidebar-terms">
						<li><a href="aaa.html#">Terms</a></li>
						<li><a href="aaa.html#">Privacy</a></li>
						<li><a href="aaa.html#">Help</a></li>
						<li><a href="aaa.html#">About</a></li>
					</ul>

					<div class="copyright text-center">
						<small>Proton <i class="fa fa-coffee"></i> from <a href="https://shop303982252.taobao.com/" title="源代码设计" target="_blank">源代码设计</a></small>
					</div>
				</div>

			</div>
			<!-- end: Main Menu -->

		<!-- start: Content -->
		<div class="main">
            <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-retweet"></i>教育平台</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="fa fa-signal"></i><a href="#">信息</a></li>
						<li><i class="fa fa-signal"></i><a href="#">信息交流</a></li>
					</ol>
				</div>
			</div>
			<div class="row">
                信息交流
			</div><!--/.row-->



		</div>
		<!-- end: Content -->
		<br><br><br>




	</div><!--/container-->


	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Warning Title</h4>
				</div>
				<div class="modal-body">
					<p>Here settings can be configured...</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

	<div class="clearfix"></div>


	<!-- start: JavaScript-->
	<!--[if !IE]>-->

			<script src="../static/assets/js/jquery-2.1.1.min.js"></script>

	<!--<![endif]-->

	<!--[if IE]>

		<script src="assets/js/jquery-1.11.1.min.js"></script>

	<![endif]-->

	<!--[if !IE]>-->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.1.1.min.js'>"+"<"+"/script>");
		</script>

	<!--<![endif]-->

	<!--[if IE]>

		<script type="text/javascript">
	 	window.jQuery || document.write("<script src='assets/js/jquery-1.11.1.min.js'>"+"<"+"/script>");
		</script>

	<![endif]-->
	<script src="../static/assets/js/jquery-migrate-1.2.1.min.js"></script>
	<script src="../static/assets/js/bootstrap.min.js"></script>


	<!-- page scripts -->
	<script src="../static/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
	<script src="../static/assets/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
	<script src="../static/assets/plugins/moment/moment.min.js"></script>
	<script src="../static/assets/plugins/fullcalendar/js/fullcalendar.min.js"></script>
	<!--[if lte IE 8]>
		<script language="javascript" type="text/javascript" src="assets/plugins/excanvas/excanvas.min.js"></script>
	<![endif]-->
	<script src="../static/assets/plugins/flot/jquery.flot.min.js"></script>
	<script src="../static/assets/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="../static/assets/plugins/flot/jquery.flot.stack.min.js"></script>
	<script src="../static/assets/plugins/flot/jquery.flot.resize.min.js"></script>
	<script src="../static/assets/plugins/flot/jquery.flot.time.min.js"></script>
	<script src="../static/assets/plugins/flot/jquery.flot.spline.min.js"></script>
	<script src="../static/assets/plugins/xcharts/js/xcharts.min.js"></script>
	<script src="../static/assets/plugins/autosize/jquery.autosize.min.js"></script>
	<script src="../static/assets/plugins/placeholder/jquery.placeholder.min.js"></script>
	<script src="../static/assets/plugins/datatables/js/jquery.dataTables.min.js"></script>
	<script src="../static/assets/plugins/datatables/js/dataTables.bootstrap.min.js"></script>
	<script src="../static/assets/plugins/raphael/raphael.min.js"></script>
	<script src="../static/assets/plugins/morris/js/morris.min.js"></script>
	<script src="../static/assets/plugins/jvectormap/js/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="../static/assets/plugins/jvectormap/js/jquery-jvectormap-world-mill-en.js"></script>
	<script src="../static/assets/plugins/jvectormap/js/gdp-data.js"></script>
	<script src="../static/assets/plugins/gauge/gauge.min.js"></script>


	<!-- theme scripts -->
	<script src="../static/assets/js/SmoothScroll.js"></script>
	<script src="../static/assets/js/jquery.mmenu.min.js"></script>
	<script src="../static/assets/js/core.min.js"></script>
	<script src="../static/assets/plugins/d3/d3.min.js"></script>

	<!-- inline scripts related to this page -->
	<script src="../static/assets/js/pages/index.js"></script>

	<!-- end: JavaScript-->
</div>
</body>
</html>