<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台登录</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="/static/login/style.css" />
<style>
body{height:100%;background:#16a085;overflow:hidden;}
canvas{z-index:-1;position:absolute;}
</style>
<script src="/static/login/jquery.js"></script>
<script src="/static/login/verificationNumbers.js"></script>
<script src="/static/login/Particleground.js"></script>
<script>
$(document).ready(function() {
  //粒子背景特效
  $('body').particleground({
    dotColor: '#5cbdaa',
    lineColor: '#5cbdaa'
  });
  //验证码
  createCode();
  //测试提交，对接程序删除即可
  $(".submit_btn").click(function(){
	  location.href="index.html";
	  });
});
</script>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
<dl class="admin_login">
 <dt>
  <strong>页面登录</strong>
  <em>Management System</em>
 </dt>
 <dd class="user_icon">
  <input name="user_name" type="text" placeholder="账号" class="login_txtbx"/>
 </dd>
       <span>
        {% if error_data.user_name.error%}
       <center><p style="color: yellow;"><font size="5">{{ error_data.user_name.error }}</font></p></center>
    {% endif %}
  </span>
  <input name="password" type="password" placeholder="密码" class="login_txtbx"/>
 </dd>
   <span>
        {% if error_data.password.error%}
       <center><p style="color: yellow;"><font size="5">{{ error_data.password.error }}</font></p></center>
    {% endif %}
  </span>
 <dd>
  <input type="submit" value="立即登录" class="submit_btn"/>
 </dd>
     <p style="color: yellow" ><h1><center>{{ mes }}</center></h1></p>
 </dd>
    <div align="center">还没有账号,去 <a href="/parents_register/">注册</a></div>
 <dd>
 <dd>
  <p>© 2015-2016 DeathGhost 版权所有</p>
  <p>陕B2-20080224-1</p>
 </dd>
</dl>
    </form>
</body>
</html>

 <dd class="pwd_icon">